table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /*border-spacing: 5px;*/
    padding: 5px;
}

td {
    text-align: center;
}

caption {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    line-height: 70px;
}

th {
    color: white;
    background-color: darkgreen;
}

/*Seleccionamos los renglones pares*/
tr:nth-child(even) {
    background-color: goldenrod;
}

/*Seleccionamos los renglones impares*/
tr:nth-child(odd) {
    background-color: cadetblue;
}